[core]
    filemode = false
    editor = /usr/bin/nvim
    sshCommand = ssh -i ~/.ssh/id_ed25519.pub -o IdentitiesOnly=yes

[user]
    name = "Sergey Silaev"
    email = "hello@8am.dev"
    signingkey = ~/.ssh/id_ed25519.pub

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[gpg]
    format = ssh

[sendemail]
    smtpServer = 127.0.0.1
    smtpServerPort = 1025
    smtpEncryption = STARTTLS
    smtpUser = hello@8am.dev
    from = Sergey Silaev <hello@8am.dev>
    confirm = always

[alias]
    st = status -b
    c = commit
    co = checkout
    br = branch
    slog = log --pretty=format:"%C(auto)%h%C(auto)%d\\ %C(auto,reset)%s\\ \\ [%C(auto,blue)%an%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)]"
    glog = log --graph --pretty=format:"%C(auto,yellow)%h%C(auto)%d\\ %C(auto,reset)%s\\ \\ [%C(auto,blue)%an%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)]"
    wlog = log --pretty=format:"%C(auto,yellow)%h%C(auto)%d%C(auto,reset)\\ by\\ %C(auto,blue)%an%C(auto,reset),\\ %C(auto,cyan)%ar%C(auto,reset)%n\\ %s%n" --stat
    gr = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    wt = worktree

[protocol "file"]
    allow = always

[push]
    autoSetupRemote = true

[credential]
    ; for localhost only
    helper = store

; [includeIf "gitdir:~/repos/whatever/"]
;     path = "~/repos/whatever/.gitconfig"
